:root {
  --main-color: #272727;
  --hero-title-size: 56px;
  --hero-title-color: #ffe0cc;
  --hero-sub-title-size: 18px;
  --hero-sub-title-color: #cfc3bb;
  --call-to-action-color: #d8462c;
  --info-section-text-size: 36px;
  --info-section-text-color: #1f2937;
  --quote-section-bg: #e5e7eb;
  --quote-section-text-color: #1f2937;
  --quote-section-text-size: 36px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--hero-title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styling the Hero Section */

.hero-section {
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
}

.hero-header {
  padding: 30px 40px;
}

.nav-container {
  display: flex;
}

.nav-item {
  margin: 0 40px;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item:first-child a {
  color: #f9faf8;
  font-size: 24px;
}

.nav-item a {
  position: relative;
  overflow: visible;
  z-index: 2;
  font-size: 18px;
  color: #e5e7eb;
}

.nav-item a::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
  background-color: var(--call-to-action-color);
  transition: 0.3s ease-in-out;
}

.nav-item a:hover::before {
  transform: scaleX(1.3);
}

.hero-content {
  padding: 40px;
  margin: 40px;
  gap: 50px;
  flex: auto;
  display: flex;
}

.hero-left {
  padding-right: 40px;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.hero-title {
  text-transform: uppercase;
  font-size: var(--hero-title-size);
  color: var(--hero-title-color);
  font-weight: 900;
}

.hero-sub-title {
  text-align: justify;
  line-height: 30px;
  font-size: var(--hero-sub-title-size);
  color: var(--hero-sub-title-color);
  font-weight: 100;
  line-height: 40px;
}

.hero-btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #ffecdf;
  font-weight: 600;
  background-color: var(--call-to-action-color);
  padding: 12px 40px;
  font-size: 18px;
  margin-right: 20px;
  transition: 0.4s ease-in-out;
}

.hero-btn:hover {
  box-shadow: 0 0 50px -8px var(--call-to-action-color);
}

.hero-right {
  padding-left: 40px;
  flex: auto;
  width: 100%;
  height: auto;
  background-color: palegoldenrod;
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px 0 5px var(--call-to-action-color), -10px -10px 0 5px var(--hero-title-color);
  background-image: url("https://images.pexels.com/photos/688830/pexels-photo-688830.jpeg");
}

/* Finished Styling hero Section */
