:root {
  --action: #d33013;
  --secondary: #22211f;
  --fg: #ffe5d3;
  --hero-title-size: 56px;
  --hero-title-color: #ffe5d3;
  --hero-sub-title-size: 18px;
  --hero-sub-title-color: #e0d2c8;
  --action: #be361e;
  --info-section-text-size: 36px;
  --info-section-text-color: #1f2937;
  --quote-section-bg: #e5e7eb;
  --quote-section-text-color: #1f2937;
  --quote-section-text-size: 36px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styling the Hero Section */

.hero-section {
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
}

.hero-header {
  padding: 30px 40px;
  margin-bottom: 40px;
}

.nav-container {
  display: flex;
}

.nav-item {
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 40px;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item:first-child a {
  color: #f9faf8;
  font-size: 24px;
}

.nav-item a {
  position: relative;
  overflow: visible;
  z-index: 2;
  font-size: 18px;
  color: #e5e7eb;
}

.nav-item a::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
  background-color: var(--action);
  transition: 0.3s ease-in-out;
}

.nav-item a:hover::before {
  transform: scaleX(1.3);
}

.hero-content {
  padding: 60px 40px;
  margin: 40px;
  gap: 40px;
  flex: auto;
  display: flex;
}

.hero-left {
  padding-right: 40px;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}

.hero-title {
  text-transform: uppercase;
  font-size: var(--hero-title-size);
  color: var(--hero-title-color);
  font-weight: 900;
}

.hero-sub-title {
  text-align: justify;
  font-size: var(--hero-sub-title-size);
  color: var(--hero-sub-title-color);
  font-weight: 100;
  line-height: 40px;
}

.hero-btn {
  cursor: pointer;
  border: none;
  /* border-radius: 10px; */
  box-shadow: 0 0 0 0 none;
  color: #ffecdf;
  font-weight: 600;
  background-color: var(--action);
  padding: 12px 40px;
  font-size: 18px;
  margin-right: 20px;
  transition: 0.4s ease-in-out;
}

.hero-btn:hover {
  background-color: var(--secondary);
  box-shadow: -5px -5px 0 0 var(--fg), 5px 5px 0 0 var(--action);
}

.hero-right {
  padding-left: 40px;
  flex: auto;
  width: 100%;
  height: auto;
  background-color: palegoldenrod;
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px 0 5px var(--action), -10px -10px 0 5px var(--hero-title-color);
  background-image: url("https://images.pexels.com/photos/688830/pexels-photo-688830.jpeg");
}

/* Styling the Info Section */

.info-section {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-section-header {
  font-size: 36px;
  font-weight: 900;
  color: var(--secondary);
  margin: 20px;
}

.items {
  padding: 40px 80px;
  margin: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.item {
  border: 3px solid var(--action);
  box-shadow: 15px 15px 0 0 var(--action);
  display: flex;
  flex: 0 1 500px;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  transition: 0.3s ease-in-out;
}

.item:hover {
  box-shadow: none;
}

.item-img {
  color: var(--action);
  font-size: 80px;
}

.item-subtext {
  text-align: center;
  padding: 15px;
  font-size: 18px;
  color: hsl(9, 83%, 5%);
  color: var(--secondary);
}

/* Styling the quote Section */

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1601810709213-a510c55c1856?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx");
  background-position: center;
  background-size: cover;
}

.quote {
  color: var(--hero-title-color);
  font-weight: 100;
  font-style: italic;
  font-size: 46px;
  margin: 20px 0;
  text-align: justify;
}

.quote-author {
  color: var(--hero-sub-title-color);
  font-size: 24px;
  font-weight: 600;
  align-self: flex-end;
  text-align: justify;
}

/* Styling the action-section */

.action-section {
  padding: 40px 80px;
}

.action-container {
  display: flex;
  margin: 80px 120px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: var(--action);
  border-radius: 10px;
  transition: 0.35s ease-in-out;
}

.action-container:hover {
  box-shadow: 0 0 45px -10px var(--action);
}

.action-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--hero-title-color);
}

.action-sub-title {
  font-size: 20px;
  font-weight: 100;
  color: var(--hero-title-color);
}

.action-btn {
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: var(--action);
  transition: 0.35s ease-in-out;
}

.action-btn:hover {
  color: var(--action);
  background: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hero-title-color);
  padding: 30px;
  font-size: 16px;
  background-color: var(--secondary);
}
